body{
    background:linear-gradient(to right bottom,rgba(158, 147, 217, 0.654) , rgb(197, 255, 255)) ;

}

h1{
    font-size: 50px;
    font-family: "Gill Sans",sans-serif;
    font-weight: 900;
    border-bottom: 4mm ridge #6518f6;
    text-align: center;
    font-style: italic;
}

p#project{
    border: dashed #0a49a7f4;
    padding: 1%;
    background-color: #ded5ee85;
}

div#kazu{
   display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
	grid-gap: 10px; 
}

div#kazu > div {
	margin-left: 5px;
	background-color: #b8a6ba4a;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 5px;
    border: 2mm ridge #efe163f4;
}


div#ue{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
	grid-gap: 10px;
}

div#shita{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
	grid-gap: 10px;
}

div#ue > div {
	margin-left: 5px;
	background-color: #8f8e8e4a;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 5px;
    border: thick double #2ba522f4;
}

div#shita > div {
	margin-left: 5px;
	background-color: #8f8e8e4a;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 5px;
    border: thick double #2ba522f4;
}

div#matome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
	grid-gap: 10px;
}

div#matome > div {
	margin-left: 5px;
	background-color: #968e9d4a;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 5px;
    border: 2mm ridge #4e0e6fc1;
}

a:hover{
    text-decoration: none;
    color: rgba(227, 64, 189, 0.751);   
}