body{
    background:linear-gradient(to right bottom,rgba(158, 147, 217, 0.654) , rgb(197, 255, 255)) ;

}

div#kazu{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
	grid-gap: 10px; 
}

div#kazu > div {
	margin-left: 5px;
	background-color: #b8a6ba4a;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 5px;
    border: thick double #efe163f4;
}


div#ue{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
	grid-gap: 10px;
}

div#shita{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
	grid-gap: 10px;
}

div#ue > div {
	margin-left: 5px;
	background-color: #8f8e8e4a;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 5px;
    border: thick double #2ba522f4;
}

div#shita > div {
	margin-left: 5px;
	background-color: #8f8e8e4a;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 5px;
    border: thick double #2ba522f4;
}

a:hover{
    text-decoration: none;
    color: aqua;   
}